@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap');


.work-info-section {

    display: block;
    /* overflow: hidden !important; */
}

.work-info-main {
    /* min-height: 1000px !important; */
    background: white;
}

.work-info-section .work-info-text {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.work-info-section .work-info-text img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.work-info-section .work-info-text span {
    display: inline-block;
    vertical-align: middle;
}

.work-info-section .tasks-sec h1 {
    font-family: "Space Grotesk", serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 34.1px;
    color: #9A93B3;
    padding: 16px;
}

.work-info-section .tasks-sec .background {
    background: white;
    padding: 16px;
    border-radius: 8px;
}

.work-info-section .tasks-sec span {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #223759;
    line-height: 28px;
}

.work-info-section .tasks-sec h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18.07px;
    color: #6F6F70;
}

/* .work-info-section .tasks-sec .divider {
    width: 800px;
    height: 1px;
    border: 1px solid #E3F2F3;
} */

.work-info-section .tasks-sec .background .field input {
    background: #F0F6FF;
    /* border-radius: 8px; */

}

.work-info-section .tasks-sec .background .dropdown button {

    background: #F0F6FF;
    color: inherit;
}
.work-info-section .tasks-sec .background .card .card-title{
    background: #F0F6FF;
    padding: 10px;
    border-radius: 8px;

}
/* .work-info-section .tasks-sec .background .card span{
min-width: 500px;
    border-style: dashed;
    padding: 16px;
} */
.work-info-section .tasks-sec .background .card button{
    min-width: 100%;
    border:  2px  dashed #067C89 ;
    margin-top: 10px;
    border-radius: 8px;
    background: white;
}
.work-info-section .tasks-sec .background .card span{
    color: #6F6F70;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 18.07px;
}
.work-info-section .tasks-sec .background .card p{
    color: #6F6F70;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}
.work-info-section .tasks-sec .background .card  .bg{
    box-shadow:#FFFFFF;
    border: 2px solid #f5f0f0;
    padding: 16px;
}